#entriesContainer {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

#entriesContainer select {
  height: 35.2px;
  padding: 0 0.25rem 0;
  background: #f6f6f6;
  border: 1px solid #c5c5c5;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
}
#entriesContainer select:focus {
  outline: 1px solid #0078d7;
}
