input[type="date"] {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  padding: 0.5em 0.6em 0.45em 0.6em;
  color: #454545;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  /*font-family: Arial, Helvetica, sans-serif;*/
  margin-top: 0.325rem;
}

input[type="date"]:focus {
  outline: 1px solid #213547;
}
